@charset "UTF-8";

@media screen and (min-width: 992px) {
    body {
        background-image: url(../img/pattern-background-desktop.svg);
    }
    #card {
        height: 697px;
        width: 450px;
    }
    #card-info {
        padding: 40px;
    }
    #card-title {
        font-size: 1.8em;
    }
    #box-plan {
        height: 98px;
    }
}
