@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;700;900&display=swap');

:root {
    --font: 'Red Hat Display', sans-serif;
    /* primary colors */
    --pale-blue: hsl(225, 100%, 94%);
    --bright-blue: hsl(245, 75%, 52%);
    --brigh-blue-active: hsl(245, 83%, 68%);
    /* neutral colors */
    --very-pale-blue: hsl(225, 100%, 98%);
    --desaturated-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);
}

* {
    padding: 0px;
    margin: 0px;
}

body {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr;
    font-family: var(--font);
    background-image: url(../img/pattern-background-mobile.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
    background-color: var(--pale-blue);
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
}

#card {
    display: grid;
    grid-template-rows: 30% 1fr;
    background-color: white;
    width: 327px;
    height: 567px;
    border-radius: 20px;
    transition: width 0.2s, height 0.4s;
    transition-timing-function: ease;
    box-shadow: 0px 15px 20px hsla(224, 23%, 55%, 0.5);
}

#card-bg {
    background-image: url(../img/illustration-hero.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
}

#card-info {
    display: grid;
    grid-template-rows: auto auto auto;
    padding: 20px;
    gap: 20px;
    text-align: center;
}

#card-title {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.emphasis-text {
    color: var(--dark-blue);
    font-weight: 900;
}

#description-text {
    color: var(--desaturated-blue);
    width: 90%;
    margin: auto;
    line-height: 25px;
}

#box-plan {
    display: grid;
    grid-template-columns: auto auto auto;
    place-items: center;
    background-color: var(--very-pale-blue);
    height: 80px;
    border-radius: 10px;
}

#plan-info {
    justify-self: start;
    line-height: 1.6em;
}

#plan-price {
    color: var(--desaturated-blue);
}

#plan-change {
    color: var(--bright-blue);
    font-weight: 700;
    text-decoration: underline;
}

#plan-change:hover {
    color: var(--brigh-blue-active);
    cursor: pointer;
}

#card-buttons {
    display: grid;
    gap: 5px;
}

.button {
    height: 50px;
    border-style: none;
    font-weight: 700;
}

.border-10 {
    border-radius: 10px;
}

#proceed-button {
    background-color: var(--bright-blue);
    color: white;
    box-shadow: 0px 15px 20px hsla(224, 23%, 55%, 0.5);
}

#proceed-button:hover {
    background-color: var(--brigh-blue-active);
    cursor: pointer;
}

#cancel-button {
    background-color: transparent;
    color: var(--desaturated-blue);
}

#cancel-button:hover {
    color: var(--dark-blue);
    cursor: pointer;
}