@charset "UTF-8";

@media screen and (min-width: 992px) {
    body {
        background-image: url(../images/pattern-background-desktop.svg);
    }
    #card {
        height: 697px;
        width: 450px;
    }
    #card-info {
        padding: 40px;
    }
}
